body{background:salmon;}

h1{
    text-align: center;
    color: #BD3B31;
    font-size: 80px;
    margin-bottom: 100px;
}



.button  {    
    background-color: #BD3B31;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    margin:-50px 55%;
    border-radius: 12px;
            }

 label{
    color: #9C3028;
    font-family: arial bold;
    font-size: 30px;
 }
 
 input{
    background-color:#FD9E9E;
    width: 150px;
    height:40px;
    padding: 10px;
    margin-left: 40px;
    font-size: 20px;
    color: #BD3B31;


 } 

 #result{
    margin-left: 50px;
 }      